<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Common" version="0.1.4" targetFramework="net452" />
  <package id="Core.Ink" version="0.1.128" targetFramework="net452" />
  <package id="DialectSoftware.Web" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
</packages>